eval/workflows/warn-if-v1-conditions.json
{
  "name": "IF Node v1 Condition Schema",
  "nodes": [
    {
      "id": "h1000000-0000-0000-0000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "h1000000-0000-0000-0000-000000000002",
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": "active"
            }
          ]
        }
      }
    },
    {
      "id": "h1000000-0000-0000-0000-000000000003",
      "name": "Handle Active",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [680, 220],
      "parameters": {}
    },
    {
      "id": "h1000000-0000-0000-0000-000000000004",
      "name": "Handle Inactive",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [680, 380],
      "parameters": {}
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Handle Active",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Inactive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null
}
